.header-2 {
    display: flex;
    align-items: center; /* Vertically center the items */
    }

.h1-2 {
    font-size: 2.75em;
    font-weight: 700;
    line-height: 1.3;
    margin: 2em; /* Adjust margin as needed */
    letter-spacing: -0.035em;
  }
  
  .circular-headshot {
    width: 353px; /* Adjust this according to your preference */
    height: 326px; /* Adjust this according to your preference */
    border-radius: 50%; /* This makes the element circular */
    overflow: hidden; /* This ensures that the image is clipped to the circular shape */
    margin-left: 300px; /* Adjust the margin as needed to separate the heading and the headshot */
  }
  
  .circular-headshot img {
    width: 100%;
    height: auto;
  }

  .figcaption {
    font-style: italic;
    text-align: center;
    color: #888;
  }
  
  .jaguar-image-container{
    text-align: center; /* Center-align the content within the container */
  }

  .jaguar-image-container img {
    display: block; /* Change the display property to block */
    margin: 0 auto; /* Set margins to auto to center horizontally */
  }
  